body {
	margin: 0;
	padding: 0;
}
/*header*/
header{
	padding: 0 0 20x;
	background: #ffffff;
	text-align:center;
}

header h1{
	padding: 50px 0 20x;
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	font-weight: normal;
}

/*section*/
section {
	min-height: 400px;
	background-image: url(images/header.jpg);
	background-repeat: repeat-x;
	background-position:  top center;
	background-size: 50% 50%;
}
/*index.html*/
#top{
	padding: 100px 0;
	text-align: center;
}
#top input {
	margin-right: 10px;
	padding: 20px 10px;
	font-size: 30px;
	border-radius: 10px;
}

#top input[name="url"] {
	width: 80%;
	max-width:500px;
	color: #333;
	border: 2px solid #ccc;
}

#top input[name="url"]:hover {
	border: 2px solid #66b8bc;
}

#top input[type="submit"] {
	-webkit-appearance: button;
	background: #66b8bc;
	color: #ffffff;
	border: none;
}

/* result.html */
#result section{
	padding: 50px 0;
	text-align:center;
}

#result article{
	max-width:1000px;
	width:90%;
	margin: 0 auto;
}

#result .info{
	margin: 40px;
	padding:20px;
	background-color: rgba(255,255,255,0.5);
	color: #66b8bc;
}

#result h3{
	margin: 20px 0;
	padding: 20px;
	text-align: center;
	background-color: rgba(255,255,255,0.5);
	font-family: 'Quicksand', sans-serif;
	color: #666!important;
	font-weight: normal;
}
#result pre{
	margin: 20px 0;
	padding: 30px;
	background-color: rgba(10,10,10,0.5);
}

#result .ok{
	color: #66b8bc;
	font-weight:bold;
}


/*footer*/
footer{
	width: 100%;
	margin-top: 50px;
	padding: 50px 0;
	background: #333;
	color: #fff;
	text-align:center;
}

#top footer{
	position:fixed;
	bottom: 0;
	left: 0;
}